<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <style>
        .scrollable-content {
            max-height: 400px;
            overflow-y: auto;
        }
        label {
            display: none;
        }
    </style>
</head>
<body>
    <section class="section">
        <div class="container is-max-desktop">
            <div class="box">
                <h1 class="title">ToDo App</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class = "button is-info" type="submit">Add</button>
                </form>
               
            </div>
        </div> 
    </section>

    <section class="section">
        <div class="container is-max-desktop">
            <div class="box scrollable-content">
                {% for task in tasks %}
                    <article class="message is-info">
                        <div class="message-header">
                            <div class="level is-mobile" style="width: 100%; align-items: center;">
                                <div class="level-left" style="flex-grow: 1; overflow: hidden;">
                                    <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                        {{ task }}
                                    </p> 
                                </div>
                                <div class="level-right">
                                    <form action="{% url 'ToDo:edit_task' task.id %}" method="post" class="level-item" style="margin-right: 5px;"> 
                                        {% csrf_token %} 
                                        <button type="submit" class="button is-warning is-small">Edit</button>
                                    </form>
                                    <form id="edit-form-{{ task.id }}" action="{% url 'ToDo:delete_task' task.id %}" method="post"> 
                                        {% csrf_token %}
                                        <button type="submit" class="button is-warning is-small">Delete</button>
                                    </form>
                                </div>
                                 
                            </div>
                            
                        </div>
                    </article>
                {% endfor %}       
            </div>
        </div>
    </section>
</body>
</html>