<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
    <div class="container is-max-desktop">
        <div class="notification is-primary">
            <h1 class="title">ToDo App</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_table }}
                <button class = "button is-info" type="submit">Add</button>
            </form>
           
        </div>
    </div> 
    <br>
    <div class="container is-max-desktop">
            <div class="notification is-primary">
                <ul>
                    {% for task in tasks %}
                    <article class="message is-info">
                        <div class="message-header">
                            <p>{{ task }}</p>
                            <form action="{% url 'ToDo:delete_task' task.id %}" method="post">
                                
                                {% csrf_token %}
                                <button class="delete" aria-label="delete"></button>
                            </form>
                            
                        </div>
                    </article>
                    {% endfor %}
                </ul>
            </div>
    </div>
    
</body>
</html>